=simple_form_for @vessell, :wrapper => :bootstrap_wide do |f| 

  =f.input :site, :url => autocomplete_site_name_sites_path, :as => 'autocomplete'
  div#new_site.hidden

  =f.input :accession_number
  =f.input :form_date, :as => 'date_picker'
  =f.input :vessell_number
  =f.input :project_name
  =f.input :collection
  =f.input :analyst
  =f.input :feature_number
  =f.input :burial_number
  =f.input :other_catalog_information
  =f.input :unit_of_measurement
  =f.input :authenticity
  =f.input :condition
  =f.input :missing_portions
  =f.input :use_wear
  =f.input :cultural_affliation
  =f.input :weight
  =f.input :volume
  =f.input :description
  =f.input :comments

