
div.controls.sub-form.form-inline.span6
  =binding.pry
  =f.input :name
  =f.input :site_number 
  =f.association :county, :autocomplete_on => 'name', :as => 'autocomplete_association'
  =f.input :description,
    :wrapper => :bootstrap_inline_wide, :input_html => { :rows => 2 } 
